@charset "UTF-8";
body { padding-top: 40px; padding-bottom: 40px; background-color: #eee; /*background-image:url(../img/bg.png);*/ background-repeat: no-repeat; background-size: 100%; background-position: 0 center; background-color: #000; }

.unhappyMessage { position: absolute; top: 2px; right: 2px; z-index: 10; padding: 0 5px; font-weight: 400; color: #c33; font-size: 12px; }

#bg { position: fixed; top: 0; bottom: 0; right: 0; left: 0; z-index: -2; background-color: #000; background-repeat: none; background-position: center; background-size: cover; }

#bg-mask { position: fixed; top: 0; bottom: 0; right: 0; left: 0; z-index: -1; background-color: rgba(0, 0, 0, 0.65); background-image: url(../img/mask.png); background-repeat: repeat; }

.form-area { max-width: 330px; padding: 15px; margin: 0 auto; }

.form-area.form-signin input[type="password"], .form-area.form-signin input[type="text"], .form-area.form-signin input[type="email"] { border-radius: 0; }

.form-area.form-signin input[type="password"], .form-area.form-signin input[type="text"], .form-area.form-signin input[type="email"] { border-radius: 0; }

.form-control-phoneMsg, .btn-getPhoneMsg { height: 42px; }

.btn-getPhoneMsg { font-size: 12px; }

.form-area { color: #fff; }
.form-area .form-heading { color: #fff; margin-bottom: 10px; }
.form-area .form-control { position: relative; height: auto; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 10px; font-size: 14px; }
.form-area .form-control:focus { z-index: 2; }

/*登录*/
.form-signin .checkbox { margin-bottom: 10px; }
.form-signin .checkbox { font-weight: normal; }
.form-signin input.form-control-phone { margin-bottom: -1px; }
.form-signin input[type="password"] { margin-bottom: 10px; }

/*注册*/
.form-register .checkbox { margin-bottom: 10px; }
.form-register .checkbox { font-weight: normal; }
.form-register input.form-control-phone { margin-bottom: -1px; }
.form-register .form-control-pw { margin-bottom: -1px; }
.form-register .form-control-pwConfirm { margin-bottom: 10px; }


