.dataTables_length, .dataTables_filter, .dataTables_info, .dataTables_paginate {
    margin-bottom: 10px;
    display: inline-block;
}

#list-admin_length{
    float: right;
}

.dataTables_filter, .dataTables_paginate {
    float: right;
}

.dataTables_length select, .dataTables_filter input[type=search] {
    width: 100px;
    height: 30px;
    border: 1px solid #ccc;
    padding: 0 5px;
    display: inline-block;
}

.dataTables_paginate span, .dataTables_paginate a.paginate_button {
    border-radius: 2px;
    cursor: pointer;
}

.dataTables_paginate a,.dataTables_paginate>span>span{
    box-sizing: border-box;
    display: inline-block;
    min-width: 2em;
    height: 30px;
    line-height: 28px;
    border: 1px solid transparent;
    padding: 0 0.5em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.dataTables_paginate span a.current, .dataTables_paginate a.paginate_button:hover {
    color: white;
    background: #009688;
}

.dataTables_length select {
    width: 60px;
    border-radius: 2px;
}

table.dataTable tbody tr.even {
    background: #f2f2f2;
}

table.dataTable tbody tr.selected {
    background: #eeeeee;
}

table.dataTable thead .sorting_asc{
    background-image: url("../images/sort_asc.png");
}

table.dataTable thead .sorting_desc{
    background-image: url("../images/sort_desc.png");
}

table.dataTable thead .sorting{
    background-image: url("../images/sort_both.png");
}

table.dataTable thead .sorting,table.dataTable thead .sorting_desc,table.dataTable thead .sorting_asc{
    background-repeat: no-repeat;
    background-position: center right;
}