{extend name="public/base" /}
{block name="title"}系统安装Step4{/block}
{block name="nav"}
<li><a href="javascript:;">安装协议</a></li>
<li><a href="javascript:;">参数设置</a></li>
<li><a href="javascript:;">环境检测</a></li>
<li class="active"><a href="javascript:;">开始安装</a></li>
<li><a href="javascript:;">安装完成</a></li>
{/block}
{block name="main"}
<div class="panel panel-default">
    <div class="panel-heading">{:config('PRODUCT_NAME')} 开始安装</div>
    <div class="panel-body" style="font-size: 14px">
        <div id="show-list" class="install-database">
        </div>
        <script type="text/javascript">
            var list   = document.getElementById('show-list');
            function showMsg(msg, classname){
                var li = document.createElement('p');
                li.innerHTML = msg;
                classname && li.setAttribute('class', classname);
                list.appendChild(li);
                document.scrollTop += 30;
            }
        </script>
        <button class="am-radius am-btn am-btn-warning am-disabled">正在安装，请稍后...</button>
        <a type="button" href="{:url('step4')}" class="btn btn-primary btn-block">下一步</a>
        <a type="button" href="{:url('step2')}" class="btn btn-default btn-block">上一步</a>
    </div>
</div>
{/block}