<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{:MODULE_NAME} - 在线接口列表</title>
    <link rel="stylesheet" href="https://staticfile.qnssl.com/semantic-ui/2.1.6/semantic.min.css">
</head>
<body>
<br />
<div class="ui text container" style="max-width: none !important;">
    <div class="ui floating message">
        <h1 class="ui header">接口列表 {:C('APP_VERSION')}</h1>
        <a href="{:U('/errorList')}">
            <button class="ui red button" style="margin-top: 15px">错误码说明</button>
        </a>
        <a href="{:U('/calculation')}">
            <button class="ui orange button" style="margin-top: 15px">算法详解</button>
        </a>
        <div class="ui teal message">
            <php>$http_type = ((isset($_SERVER['HTTPS']) && $_SERVER['HTTPS'] == 'on') || (isset($_SERVER['HTTP_X_FORWARDED_PROTO']) && $_SERVER['HTTP_X_FORWARDED_PROTO'] == 'https')) ? 'https://' : 'http://';</php>
            <strong>API统一访问地址：</strong> {$http_type}{$_SERVER['HTTP_HOST']}/api/接口唯一标识
        </div>
        <div class="ui floating message">
            <div class="content">
                <div class="header" style="margin-bottom: 15px">接口状态说明：</div>
                <p><span class='ui teal label'>测试</span> 系统将不过滤任何字段，也不进行AccessToken的认证，但在必要的情况下会进行UserToken的认证！</p>
                <p><span class='ui blue label'>启用</span> 系统将严格过滤请求字段，并且进行全部必要认证！</p>
                <p><span class='ui red label'>禁用</span> 系统将拒绝所有请求，一般应用于危机处理！</p>
            </div>
        </div>
        <table class="ui green celled striped table">
            <thead>
            <tr>
                <th>#</th><th>请求方法</th><th>接口唯一标识</th><th>接口状态</th><th>真实类库</th><th width="40%">接口说明</th>
            </tr>
            </thead>
            <tbody>
            <volist name="list" id="vo">
                <tr>
                    <td>{$i}</td>
                    <td>
                        <switch name="vo['method']" >
                            <case value="1" break="1"> <span class='ui orange label'>POST</span></case>
                            <case value="2" break="1"> <span class='ui blue label'>GET</span></case>
                            <default /> <span class='ui teal label'>不限</span>
                        </switch>
                    </td>
                    <td><a target="_blank" href="{:U('/wiki/'.$vo['hash'])}">{$vo['hash']}</a></td>
                    <td>
                        <if condition="$vo['status'] eq 0 ">
                            <span class='ui red label'>禁用</span>
                            <else />
                            <if condition="$vo['isTest'] eq 1 ">
                                <span class='ui teal label'>测试</span>
                                <else />
                                <span class='ui blue label'>启用</span>
                            </if>
                        </if>
                    </td>
                    <td>{$vo['apiName']}</td>
                    <td>{$vo['info']}</td>
                </tr>
            </volist>
            </tbody>
        </table>
        <p>&copy; Powered  By <a href="">{:C('APP_NAME')} {:C('APP_VERSION')}</a> <p>
    </div>
</div>
</body>
</html>