<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="__INDEX__/img/favicon.ico">

    <title>七维科技-{block name="title"}{/block}</title>

    <!-- Bootstrap core CSS -->
    <link href="__INDEX__/lib/bootstrap.min.css" rel="stylesheet">
    <link href="__INDEX__/css/main.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    {block name="myStyle"}{/block}
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="__INDEX__/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="__INDEX__/lib/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="__PLUGIN__/compatible/html5shiv.js"></script>
    <script src="__PLUGIN__/compatible/respond.min.js"></script>
    <![endif]-->
</head>
<body>
{block name="myContent"}{/block}
<!-- Bootstrap core JavaScript
   ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="__INDEX__/lib/jquery.min.js"></script>
<script src="__INDEX__/lib/bootstrap.min.js"></script>
<!-- <script src="__INDEX__/lib/docs.min.js"></script> -->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="__INDEX__/lib/ie10-viewport-bug-workaround.js"></script>
<script src="__INDEX__/js/alertMSG.js"></script>
<script src="__INDEX__/js/app.js"></script>
{block name="myScript"}{/block}
</body>
</html>

