<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{:config('PRODUCT_NAME')} | 登 录</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="__PLUGIN__/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="__ADMIN__/dist/css/AdminLTE.min.css">
    <link rel="icon" href="__ADMIN__/dist/img/favicon.ico">
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo">
        <a href="{:config('WEBSITE_DOMAIN')}"><b>7D</b> VISION</a>
    </div>
    <div class="login-box-body">
        <p class="login-box-msg">
            <span class="label label-info">请填写您的账号和密码（admin/123123）</span>
        </p>

        <form action="{:url('User/login')}" id="form-login">
            <div class="form-group has-feedback">
                <input type="text" class="form-control" name="username" placeholder="Username">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" name="password" class="form-control" placeholder="Password">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" target-form="form-login" class="btn btn-primary ajax-post btn-block btn-flat">登 录</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- jQuery 2.2.3 -->
<script src="__PLUGIN__/jQuery/2.2.4/jquery.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="__PLUGIN__/bootstrap/js/bootstrap.min.js"></script>
<!-- BootBox -->
<script src="__ADMIN__/plugins/bootBox/bootbox.min.js"></script>

<script src="__ADMIN__/dist/js/template.js"></script>

</body>
</html>
