{extend name="public/base" /}
{block name="title"}用户中心{/block}
{block name="myStyle"}
    <link href="__INDEX__/css/sign.css" rel="stylesheet">
{/block}
{block name="myContent"}
    <div id="bg" style="background-image:url(__INDEX__/img/cover/bg4.jpg);"></div>
    <div id="bg-mask"></div>

    <div class="container">
        <a class="btn btn-lg btn-link fw-bold" href="http://www.7d-vision.com">返回七维首页</a>
        <form class="form-area form-signin" role="form" id="form-signin">
            <h2 class="form-heading display-h2">7D-VISION ID 登陆</h2>
            <div class="por">
                <input type="text" name="user" class="form-control form-control-phone roundCorner-tl roundCorner-tr" id="J-form-phoneNumber" placeholder="手机号" required autofocus>
            </div>
            <div class="por">
                <input type="password" name="password" class="form-control roundCorner-bl roundCorner-br" id="J-form-pw" placeholder="密码" required>
            </div>
            <div class="fix">
                <div class="checkbox fl" style="margin-top:0;">
                    <label><input type="checkbox" value="remember-me"> 记住我</label>
                </div>
                <div class="fr">
                    <a href="{:url('User/recover')}">忘记密码？</a>
                </div>
            </div>
            <button class="btn btn-lg btn-danger btn-block ajax-post" target-form="form-signin" href="{:url('User/login')}" type="submit">登录</button>
            <p class="p10">还不是会员？ <a href="{:url('User/register')}">去注册7D-VISION ID</a></p>
        </form>
    </div>
{/block}
{block name="myScript"}
    <script src="__INDEX__/lib/happy-validate/happy.js"></script>
    <script src="__INDEX__/lib/happy-validate/happy.methods.js"></script>
    <script>
        $(document).ready(function () {
            $('#form-signin').isHappy({
                fields: {
                    '#J-form-phoneNumber': {
                        required: true,
                        message: '请输入格式正确的手机号',
                        test: happy.USPhone,
                    },
                    '#J-form-pw': {
                        required: true,
                        message: '请输入密码'
                    }
                }
            });
        });
    </script>
{/block}